# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

.idea/

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
.python-version

# pipenv
#   According to pypa/pipenv#598, it is recommended to include Pipfile.lock in version control.
#   However, in case of collaboration, if having platform-specific dependencies or dependencies
#   having no cross-platform support, pipenv may install dependencies that don't work, or not
#   install all needed dependencies.
#Pipfile.lock

# PEP 582; used by e.g. github.com/David-OConnor/pyflow
__pypackages__/

# Celery stuff
celerybeat-schedule
celerybeat.pid

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

*.log
*.pot
*.pyc
__pycache__/
local_settings.py
/static/
app/static/admin/css/autocomplete.css
app/static/admin/css/base.css
app/static/admin/css/changelists.css
app/static/admin/css/dashboard.css
app/static/admin/css/fonts.css
app/static/admin/css/forms.css
app/static/admin/css/login.css
app/static/admin/css/nav_sidebar.css
app/static/admin/css/responsive.css
app/static/admin/css/responsive_rtl.css
app/static/admin/css/rtl.css
app/static/admin/css/vendor/select2/LICENSE-SELECT2.md
app/static/admin/css/vendor/select2/select2.css
app/static/admin/css/vendor/select2/select2.min.css
app/static/admin/css/widgets.css
app/static/admin/fonts/LICENSE.txt
app/static/admin/fonts/README.txt
app/static/admin/fonts/Roboto-Bold-webfont.woff
app/static/admin/fonts/Roboto-Light-webfont.woff
app/static/admin/fonts/Roboto-Regular-webfont.woff
app/static/admin/img/LICENSE
app/static/admin/img/README.txt
app/static/admin/img/calendar-icons.svg
app/static/admin/img/gis/move_vertex_off.svg
app/static/admin/img/gis/move_vertex_on.svg
app/static/admin/img/icon-addlink.svg
app/static/admin/img/icon-alert.svg
app/static/admin/img/icon-calendar.svg
app/static/admin/img/icon-changelink.svg
app/static/admin/img/icon-clock.svg
app/static/admin/img/icon-deletelink.svg
app/static/admin/img/icon-no.svg
app/static/admin/img/icon-unknown-alt.svg
app/static/admin/img/icon-unknown.svg
app/static/admin/img/icon-viewlink.svg
app/static/admin/img/icon-yes.svg
app/static/admin/img/inline-delete.svg
app/static/admin/img/search.svg
app/static/admin/img/selector-icons.svg
app/static/admin/img/sorting-icons.svg
app/static/admin/img/tooltag-add.svg
app/static/admin/img/tooltag-arrowright.svg
app/static/admin/js/SelectBox.js
app/static/admin/js/SelectFilter2.js
app/static/admin/js/actions.js
app/static/admin/js/actions.min.js
app/static/admin/js/admin/DateTimeShortcuts.js
app/static/admin/js/admin/RelatedObjectLookups.js
app/static/admin/js/autocomplete.js
app/static/admin/js/calendar.js
app/static/admin/js/cancel.js
app/static/admin/js/change_form.js
app/static/admin/js/collapse.js
app/static/admin/js/collapse.min.js
app/static/admin/js/core.js
app/static/admin/js/inlines.js
app/static/admin/js/inlines.min.js
app/static/admin/js/jquery.init.js
app/static/admin/js/nav_sidebar.js
app/static/admin/js/popup_response.js
app/static/admin/js/prepopulate.js
app/static/admin/js/prepopulate.min.js
app/static/admin/js/prepopulate_init.js
app/static/admin/js/urlify.js
app/static/admin/js/vendor/jquery/LICENSE.txt
app/static/admin/js/vendor/jquery/jquery.js
app/static/admin/js/vendor/jquery/jquery.min.js
app/static/admin/js/vendor/select2/LICENSE.md
app/static/admin/js/vendor/select2/i18n/af.js
app/static/admin/js/vendor/select2/i18n/ar.js
app/static/admin/js/vendor/select2/i18n/az.js
app/static/admin/js/vendor/select2/i18n/bg.js
app/static/admin/js/vendor/select2/i18n/bn.js
app/static/admin/js/vendor/select2/i18n/bs.js
app/static/admin/js/vendor/select2/i18n/ca.js
app/static/admin/js/vendor/select2/i18n/cs.js
app/static/admin/js/vendor/select2/i18n/da.js
app/static/admin/js/vendor/select2/i18n/de.js
app/static/admin/js/vendor/select2/i18n/dsb.js
app/static/admin/js/vendor/select2/i18n/el.js
app/static/admin/js/vendor/select2/i18n/en.js
app/static/admin/js/vendor/select2/i18n/es.js
app/static/admin/js/vendor/select2/i18n/et.js
app/static/admin/js/vendor/select2/i18n/eu.js
app/static/admin/js/vendor/select2/i18n/fa.js
app/static/admin/js/vendor/select2/i18n/fi.js
app/static/admin/js/vendor/select2/i18n/fr.js
app/static/admin/js/vendor/select2/i18n/gl.js
app/static/admin/js/vendor/select2/i18n/he.js
app/static/admin/js/vendor/select2/i18n/hi.js
app/static/admin/js/vendor/select2/i18n/hr.js
app/static/admin/js/vendor/select2/i18n/hsb.js
app/static/admin/js/vendor/select2/i18n/hu.js
app/static/admin/js/vendor/select2/i18n/hy.js
app/static/admin/js/vendor/select2/i18n/id.js
app/static/admin/js/vendor/select2/i18n/is.js
app/static/admin/js/vendor/select2/i18n/it.js
app/static/admin/js/vendor/select2/i18n/ja.js
app/static/admin/js/vendor/select2/i18n/ka.js
app/static/admin/js/vendor/select2/i18n/km.js
app/static/admin/js/vendor/select2/i18n/ko.js
app/static/admin/js/vendor/select2/i18n/lt.js
app/static/admin/js/vendor/select2/i18n/lv.js
app/static/admin/js/vendor/select2/i18n/mk.js
app/static/admin/js/vendor/select2/i18n/ms.js
app/static/admin/js/vendor/select2/i18n/nb.js
app/static/admin/js/vendor/select2/i18n/ne.js
app/static/admin/js/vendor/select2/i18n/nl.js
app/static/admin/js/vendor/select2/i18n/pl.js
app/static/admin/js/vendor/select2/i18n/ps.js
app/static/admin/js/vendor/select2/i18n/pt-BR.js
app/static/admin/js/vendor/select2/i18n/pt.js
app/static/admin/js/vendor/select2/i18n/ro.js
app/static/admin/js/vendor/select2/i18n/ru.js
app/static/admin/js/vendor/select2/i18n/sk.js
app/static/admin/js/vendor/select2/i18n/sl.js
app/static/admin/js/vendor/select2/i18n/sq.js
app/static/admin/js/vendor/select2/i18n/sr-Cyrl.js
app/static/admin/js/vendor/select2/i18n/sr.js
app/static/admin/js/vendor/select2/i18n/sv.js
app/static/admin/js/vendor/select2/i18n/th.js
app/static/admin/js/vendor/select2/i18n/tk.js
app/static/admin/js/vendor/select2/i18n/tr.js
app/static/admin/js/vendor/select2/i18n/uk.js
app/static/admin/js/vendor/select2/i18n/vi.js
app/static/admin/js/vendor/select2/i18n/zh-CN.js
app/static/admin/js/vendor/select2/i18n/zh-TW.js
app/static/admin/js/vendor/select2/select2.full.js
app/static/admin/js/vendor/select2/select2.full.min.js
app/static/admin/js/vendor/xregexp/LICENSE.txt
app/static/admin/js/vendor/xregexp/xregexp.js
app/static/admin/js/vendor/xregexp/xregexp.min.js
app/static/rest_framework/css/bootstrap-theme.min.css
app/static/rest_framework/css/bootstrap-tweaks.css
app/static/rest_framework/css/bootstrap.min.css
app/static/rest_framework/css/default.css
app/static/rest_framework/css/font-awesome-4.0.3.css
app/static/rest_framework/css/prettify.css
app/static/rest_framework/docs/css/base.css
app/static/rest_framework/docs/css/highlight.css
app/static/rest_framework/docs/css/jquery.json-view.min.css
app/static/rest_framework/docs/img/favicon.ico
app/static/rest_framework/docs/img/grid.png
app/static/rest_framework/docs/js/api.js
app/static/rest_framework/docs/js/highlight.pack.js
app/static/rest_framework/docs/js/jquery.json-view.min.js
app/static/rest_framework/fonts/fontawesome-webfont.eot
app/static/rest_framework/fonts/fontawesome-webfont.svg
app/static/rest_framework/fonts/fontawesome-webfont.ttf
app/static/rest_framework/fonts/fontawesome-webfont.woff
app/static/rest_framework/fonts/glyphicons-halflings-regular.eot
app/static/rest_framework/fonts/glyphicons-halflings-regular.svg
app/static/rest_framework/fonts/glyphicons-halflings-regular.ttf
app/static/rest_framework/fonts/glyphicons-halflings-regular.woff
app/static/rest_framework/fonts/glyphicons-halflings-regular.woff2
app/static/rest_framework/img/glyphicons-halflings-white.png
app/static/rest_framework/img/glyphicons-halflings.png
app/static/rest_framework/img/grid.png
app/static/rest_framework/js/ajax-form.js
app/static/rest_framework/js/bootstrap.min.js
app/static/rest_framework/js/coreapi-0.1.1.js
app/static/rest_framework/js/csrf.js
app/static/rest_framework/js/default.js
app/static/rest_framework/js/jquery-3.5.1.min.js
app/static/rest_framework/js/prettify-min.js
