{% extends "ashgear/base.html" %}

{% load static %}

{% block content %}

    <div class="row justify-content-center my-3 container-row">
        <div class="main-image">
            <img src="{% static 'ashgear/gear-banner.jpeg' %}" class="img-fluid homepage-image">
        </div>
        <div class="bottom-banner">
            <h1 id="hometext">World's Largest Gear Tool Inventory</h1>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="container-row sections">
            <div class="col-lg-6 quarter-section">
                <div class="inner">
                    <img class="img-span"
                         src="{% static 'ashgear/cutter1.jpg' %}"
                         alt="">
                    <section class="text">
                        <h2>Gear cutting tools</h2>
                        <p>
                            Sell or rent.
                        </p>
                    </section>
                </div>
            </div>
            <div class="col-lg-6 quarter-section">
                <div class="inner">
                    <img class="img-span"
                         src="{% static 'ashgear/cutter1.jpg' %}"
                         alt="">
                    <section class="text">
                        <h2>Surplus</h2>
                        <p>
                            Tools we have in stock.
                        </p>
                    </section>
                </div>
            </div>
            <div class="col-lg-6 quarter-section">
                <div class="inner">
                    <img class="img-span"
                         src="{% static 'ashgear/cutter1.jpg' %}"
                         alt="">
                    <section class="text">
                        <h2>Miscellaneous</h2>
                        <p>
                            Software, books, accessories
                        </p>
                    </section>
                </div>
            </div>

            <div class="col-lg-6 quarter-section">
                <div class="inner">
                    <img class="img-span"
                         src="{% static 'ashgear/cutter1.jpg' %}"
                         alt="">
                    <section class="text">
                        <h2>Services</h2>
                        <p>
                            Tool grinding ...
                        </p>
                    </section>
                </div>
            </div>
        </div>
    </div>

{% endblock %}