.navbar-nav .nav-link {
    color: rgba(0, 0, 0, 1) !important;
}

.navbar-nav .nav-link:hover {
    color: rgba(0, 0, 0, .5) !important;
}

a.navbar-brand {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}

body {
    font-family: 'Lato', sans-serif;
}

#blogtitle {
    font-size: 6rem;
}

@media (min-width: 992px) {
    #hometext {
        font-size: 3rem;
    }

    #blogdetailtitle {
        font-size: 5rem;
    }
}

@media screen and (max-width: 767px) {
    h1, h2 {
        font-size: 1.5rem;
    }

    .navbar {
        padding-bottom: 1.3em !important;
        padding-top: 1.2em !important;
    }
}

.legal {
    display: inline-block;
    margin-right: 4vh;
    font-size: .9rem;
}

ul#bottom-nav li {
    display: inline;
    margin-right: 4vh;
}

#bottom-nav {
    display: flex;
    flex-direction: row;
}

.navbar-nav .btm-nav-link {
    color: #6c757d !important
}

.navbar-nav .btm-nav-link:hover {
    color: #6c757d !important;
    text-decoration: none;
}

footer {
    background-color: #FFF;
    margin-top: 10px;
    flex-shrink: 0;
}

footer:not(footer-bg-color) {
    border-top: 1px solid #f7f7f7;
}

footer .container {
    padding: 70px 15px 0 15px;
}

footer .container > .row:first-child {
    padding-bottom: 70px;
}

footer .copy-row {
    padding: 10px 0;
    opacity: .7;
}

footer h3 {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 15px;
}

footer hr.space.s {
    height: 19px;
}

footer .copy-row {
    padding: 10px 0;
    opacity: .7;
}

.copy-row .copy-text {
    font-size: 12px;
    line-height: 20px;
}

.copy-row .nav {
    float: right;
    display: block;
    width: inherit;
    margin: 0 -15px 0 0;
}

.copy-row hr {
    margin: 10px 15px 15px 15px;
}

.copy-row .col-md-12 {
    text-align: center;
}

html, body {
    height: 100%;
    max-width: 100%;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
}

.container {
    flex: 1 0 auto;
}

.main-image {
    margin-top: -15px;
}

.homepage-image {
    max-width: 80%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.bottom-banner {
    bottom: 0;
    position: absolute;
    background: hsla(0, 0%, 100%, .8);
    display: block;
    z-index: 2;
    padding: 0 10px;
    width: 100%;
    border-bottom: 2px solid #f58419;
}

.top {
    z-index: 2;
}

.container-row {
    position: relative;
    /*background: antiquewhite;*/
}

.quarter-section {
    /*background: darkgrey;*/
}

.inner {
    padding: 1em;
    display: flex;
}

.img-span {
    max-width: 30%;
    display: block;
    object-fit: cover;
}

.sections {
    display: flex;
    flex-wrap: wrap;
}

.text {
    padding: 1em;
}